/* основний колір тексту rgba(117, 117, 117, 1) */
/* колір заголовків rgba(33, 33, 33, 1) */
/* фон білий rgba(238, 238, 238, 1) */
/*фон студія rgba(47, 48, 58, 1)*/
/* колір лого  чорний rgba(0, 0, 0, 1); синій rgba(33, 150, 243, 1) */
/* білий rgba(255, 255, 255, 1) */
/*фон кнопки rgba(245, 244, 250, 1);*/
/* footer телефон email rgba(255, 255, 255, 0.6) */

:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-title-color: rgba(33, 33, 33, 1);
    --primary-white-color: rgba(255, 255, 255, 1);
    --logo-color: rgba(0, 0, 0, 1);
    --accenr-color: rgba(33, 150, 243, 1);
    --filter-btn-color: rgba(245, 244, 250, 1);
    --footer-white-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

/*logo*/

.logo {
    color: var(--logo-color);
 
    font-size: 26px;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
}

.logo-web  {
    color: var(--accenr-color);
    
    font-family: 'Oleo Script', sans-serif;
    font-size: 26px;
    line-height: 1.38;
    font-weight: 400;
}

/*navigation*/

.nav-list {
    list-style: none;

    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
}

.nav-list .link  {
    color: var(--primary-title-color);
    text-decoration: none;
}

.contact-list {
    list-style: none;
}
.contact-list .link,
.contact-list .tel {
    color: var(--primary-text-color);
    
    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
    text-decoration: none;
}

.nav-list .link:focus ,
.nav-list .link:hover,
.contact-list .link:focus,
.contact-list .link:hover,
.contact-list .tel:focus,
.contact-list .tel:hover {
    color: var(--accenr-color);
}

/*page studio start*/
/*banner*/

.main-banner {
    color: var(--primary-white-color);

    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
}

.main .btn {
    background-color: var(--accenr-color);
    color: var(--primary-white-color);

    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    cursor: pointer;
}

/*section features*/

.section-list,
.team-list {
    list-style: none;
}

.section .subtitle {
    color: var(--primary-title-color);

    font-size: 14px;
    line-height: 1.17;
}

.section p {
    font-size: 14px;
    line-height: 1.71;
}

/*works*/

.section-title,
.team-title {
    color: var(--primary-title-color);

    font-size: 36px;
    line-height: 1.17;
}

/*team*/
.team .subtitle {
    color: var(--primary-title-color);

    font-size: 16px;
    line-height: 1.17; 
    font-weight: 500;
}

/*page studio end*/

/*page portfolio start*/
/*button filter*/

.btn {
    color: var(--primary-title-color);
    background: var(--filter-btn-color);

    font-size: 16px;
    line-height: 1.63;
    font-weight: 500;
    cursor: pointer;
}

.btn:focus,
.btn:hover {
    color: var(--primary-white-color);
    background: var(--accenr-color);
}

/*portfolio*/

.portfolio-list {
    list-style: none;
}

.portfolio-list .title {
    color: var(--primary-title-color);

    font-size: 18px;
    line-height: 2;
}

.portfolio-list .description {
    font-size: 16px;
    line-height: 1.88;
}

/*page portfolio end*/

